@charset "utf-8";

header{
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    background: #dcdcdc;
    padding: 2% 0;
    font-family: 'Readex Pro', sans-serif;
} 

.logo{
    background: black;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}

.logo_start{
	position: fixed;
    z-index: 9000;
    width: 100%;
    height: 100vh;
    left: 0;
}

#zoomIn{
    animation: animationZoom1 5s ease-in-out forwards;
}

@keyframes animationZoom1 {
    100% { transform:scale(1.1)} 
}

.login{
    text-align: center;
    margin: 3% 0;
    &_button{
        width: 600px;
        height: 50px;
        background:rgba(154,205,50,0.6);
        border: 2px #666 solid;
    }

    &_userInfo{
        font-size: 15px;
        position: relative; 

        button{
            position: absolute;  // 追記
            left: 0;  
            margin-left: 5%;
        }
    }

    a{
        color: #666;
        font-size: 15px;
    }
}

.func{
    h3{
        text-align: center;
        font-size: 30px;
    }

    &_group{
        text-align: center;
        margin: 2% 0;
        cursor: pointer;

        :hover{
            box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
            transform: translateY(-10px);
            transition-duration: 0.5s;
        }

    }

    &_content{
        color: #666;
        width: 300px;
        height: 220px;
        padding: 20px;
        margin: 0 3%;
        border: solid 2px #666;
        background: rgba(154,205,50,0.6);
        display: inline-block;
        vertical-align: top;
        border-radius: 10px;

        h4{
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 15px;
            pointer-events: none;
        }

        p{
            font-size: 15px;
            pointer-events: none;
            color: white;
        }

        a{
            text-decoration: none;
            color: #666;
        }
    }
    
}

.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

.js-modal1{
    text-align: center;

    .modalTitle{
        font-size: 20px;
        color: #666;
    }

    .modalContent{
        font-size: 15px;
        margin: 20px 100px;
    }
}